# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
.venv/
env/
node_modules/

# Environment Variables
.env
.env.*

# IDEs
.vscode/
.idea/

# Docker
docker-compose.yml
docker-compose.*.yml
Dockerfile

# Documentation & Tests
README.md
tests/
.pytest_cache/
.coverage
htmlcov/